*.i
*.o
*.d
*.elf
*.diss
*.map
*.bin
*.log
.vscode

software/*/*.s

*.dump
*.verilog

*.swp
*.swo

prebuilt_tools/
setup_config.sh
setup_config.bat

tags
TAGS
TAG
CTAGS
*_examples
*_labs
Makefile.local
Makefile.global

doc/build/
_build
